<%- include ('partials/header')-%>

<div class="container">
  <h2 class="text-center mt-5">All Images</h2>

  <div class="row mt-5">
    <%images.forEach(img=>{ %>

    <div class="col-12 col-sm-4 col-md-4 col-lg-4 text-center">
      <img src="<%= img.imgUrl %>" alt="..." class="img-fluid img-thumbnail" />
      <form action="/delete/<%=img.id %>?_method=DELETE" method="POST">
        <input type="hidden" name="_method" value="DELETE" />
        <button type="submit" class="btn btn-danger btn-lg mt-2 mb-2">Delete</button>
      </form>
    </div>
    <% }) %>
  </div>
</div>

<%- include ('partials/footer') -%>
